#book{
      background-image: url("images/book-reading.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      font-family: "Karma", sans-serif;
}

.books{
      background-color: #f6eabe ;
      font-family: "Karma", sans-serif;
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

#header{
  width: 75%;
  height: 75%;
}

#par-one{
  text-align: center;
}

header{
      font-size: 30px; 
      color: #5e0000; 
      text-align: center;
}

body {
      background-color: #eaebb5;
      font-family: "Karma", sans-serif;

}

h1{
      text-align: center;

}

.index{
      color: white;
      font-size: 20px; 
}

.info{
      color: white;
      font-size: 15px;
}

.head3{
      font-size: 25px; 
      color: #870000;
}

h3{
      font-size: 25px; 
      color: #000138;
      text-align: center;
}

.last{
     font-size: 25px; 
      color: #000138;
      text-align: center;
      padding: 20px; 
}

.book_body{
      background-color: #eaebb5;
      font-family: "Karma", sans-serif;
}

.box {
      background-color: transparent;
      width: 295px;
      height: 375px;
      border: 5px solid black;
      perspective: 1000px;
      display: inline-block;
}

.box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.5s;
      transform-style: preserve-3d;
}

.box:hover .box-inner {
      transform: rotateY(180deg);
}

.box-front, .box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
}


.box-back {
      background-color: #7bb7e3;
      color: white;
      transform: rotateY(180deg);
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

input[type=text], select {
  width: 35%;
  padding: 12px 20px;
  margin: 10px 180px;
  display: table;
  border: 1.5px solid #000138;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
 
}


input[type=submit]:hover {
  background-color: #000138;
}

.buy_form {
  border-radius: 5px;
  background-image: url("images/book-page2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.comment_form {
  background-image: url("images/book-page1.jpg");
}


img{
      width: 100%;
      height: 100%;
}

h1{
      text-align: center;
}

.cont{
      display: flex;
}

#cover{
      width: 570px;
      height: 720px;
}

.page-cont{
      width: 570px;
      height: 720px;
      position: relative;
      perspective: 1500px;
}

.page{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: left;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
      transition: 0.5s;
      color: #000138;
}

.front, .back{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
}

.front{
      background-image: url("images/book-page.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      padding: 0 13px;
}

.back{
      transform: rotateY(180deg);
      background-image: url("images/book-page.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      padding: 0 13px;
}

.but-next{
      font-weight: bold;
      position: absolute;
      bottom: 13px;
      right: 13px;
      cursor: pointer;
}

.but-back{
      font-weight: bold;
      position: absolute;
      bottom: 13px;
      left: 13px;
      cursor: pointer;
}

#p1{
      z-index: 3;
}

#p2{
      z-index: 2;
}

#p3{
      z-index: 1;
}

#c1:checked ~ .page-cont #p1{
      transform: rotateY(-180deg);
      z-index: 1;
}

#c2:checked ~ .page-cont #p2{
      transform: rotateY(-180deg);
      z-index: 2;
}

#c3:checked ~ .page-cont #p3{
      transform: rotateY(-180deg);
      z-index: 3;
}

#p3{
      background-image: url("images/book-page.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}

input[type=checkbox][id=c1]{
      display: none;
}

input[type=checkbox][id=c2]{
      display: none;
}

input[type=checkbox][id=c3]{
      display: none;
}

.btn{
  background-color: #000138;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 210px;
  cursor: pointer;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: hotpink;
}